@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'MyCustomFont';
  src: url('/fourth/mienem/public/engravers-mt.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}


div {
  position: inherit;
}

body {
  background: #9B9B82;
  /* background: linear-gradient(180deg, rgba(220, 220, 215, 0.839) 0%, rgba(79, 79, 72, 0.82) 47%, rgba(0, 0, 0, 1) 100%); */
  /* background: linear-gradient(180deg, rgba(10, 10, 10, 0.839) 0%, #9B9B82, rgba(0, 0, 0, 1) 100%); */
  height: 100vh;
}

h1 {
  font-size: 5rem;
  font-family: 'MyCustomFont';
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1rem;
}

h2 {
  font-size: 2rem;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  text-decoration: underline;
}

p {
  font-family: "DM Serif Text", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
}

li {
  font-family: "DM Serif Text", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
  list-style-type: none;
}

a>img {
  width: 90%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.updock-regular {
  font-family: "Updock", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  color: rgb(116, 54, 10)
}

.img-left {
  position: fixed;
  top: 20%;
  left: 60%;
}

.img-main-cointainer {
  position: fixed;
  top: 25%;
  left: 30%;
}

.img-main {
  height: 400px;
  width: 600px;
}


.container {
  display: grid;
  grid-template-columns: .4fr .75fr .25fr;
  grid-template-rows: 200px 0.5fr 0.5fr 1fr;
  grid-template-areas:
    "header header headertwo"
    "name   links    headertwo"
    "sideimg aboutme spotify"
    "sideme  linkstwo  linkstwo";
  gap: 1%;
  height: -webkit-fill-available;
}

.header {
  grid-area: header;
  padding-top: 15px;
}

.headertwo {
  grid-area: headertwo;
  padding-top: 15px;

}

.headertwo>img,
.header>img {
  height: -webkit-fill-available;
  width: 100%;
}


.name {
  grid-area: name;
  display: flex;
  align-items: end;
  flex-direction: column;
  border-bottom: 1px solid black;
  margin-bottom: 3px;
}

.name>p {
  justify-self: start;
  line-height: 1;
}

.links {
  grid-area: links;
  padding-top: 0;
}

.links>div>img {
  height: 70px;
}

.sideimg {
  grid-area: sideimg;
  padding-top: 5px;
}

.sideimg>img {
  height: 230px;
  width: 100%;
}

.aboutme {
  grid-area: aboutme;
}


.spotify {
  grid-area: spotify;
}


.sideme {
  grid-area: sideme;
}



.linkstwo {
  grid-area: linkstwo;

}

.linksInner {
  padding: 2%;
  background-color: #c6c6b357;
  width: 97%;
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.linksInner>li {
  padding-left: 1rem;
}

.textBack {
  padding: 1%;
  background-color: #c6c6b357;
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
}

#customize-list {
  float: left;
  margin-left: 20px;
  list-style: none;
}

#gr_updates_widget {
  float: left;
  border-radius: 5px;
  background-color: #fff;
  border: solid #683205 10px;
  -webkit-box-shadow: 0px 0px 4px 1px #595959,
    inset 0px 0px 0px 1px #7D730B;
  -moz-box-shadow: 0px 0px 4px 1px #595959,
    inset 0px 0px 0px 1px #7D730B;
  box-shadow: 0px 0px 4px 1px #595959,
    inset 0px 0px 0px 1px #7D730B;
  padding: 15px 0 0px 15px;
  width: 48%;
  height: 190px;
}

#gr_footer {
  margin-bottom: 0px;
  height: 30px;
}

#gr_updates_widget p {
  padding: 0px;
  margin: 0;
  font-size: 14px;
}

#gr_footer img {
  width: 100px;
  float: left;
}


@media only screen and (max-width: 1400px) {
  h1 {
    font-size: 3rem;
  }

  .container {
    width: min-content;
    grid-template-rows: 100px 50px 0.5fr 1fr 1fr 1fr;
    grid-template-columns: 0.75fr 1fr;
    grid-template-areas:
      "header header "
      "name   headertwo "
      "links  headertwo"
      "aboutme aboutme"
      "sideme sideme "
      "linkstwo linkstwo";
    /* 
      "header header headertwo"
      "name   links    headertwo"
      "sideimg aboutme spotify"
      "sideme  imgeyes  linkstwo"; */
    ;
  }

  .links>div>img {
    height: 43px;
  }

  h2 {
    font-size: 1.25rem;

  }

  a,
  p {
    font-size: 1rem;
  }

  iframe {
    width: -webkit-fill-available;
    height: 90%;
  }

  .headertwo {
    padding: 0;
  }



  .sideimg {
    visibility: hidden;

  }

  .linkstwo {
    display: flex;
  }

  .linksInner>li {
    padding-left: 0rem;
  }

  #gr_updates_widget {
    height: 140px;
  }

  .main-grid {
    padding: 1rem;
    height: 100vh;
  }

  .w-4\/6 {
    width: 180%;
  }

  .h-96 {
    height: 12rem;
  }

  .img-left {
    top: 34%;
    left: 16%;
  }

  .img-main {
    height: auto;
    width: auto;
  }

  .img-main-cointainer {
    top: 27%;
    left: 3%;
    right: 12%;
  }


}